* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Nunito Sans", sans-serif;
    min-width: 1200px;
}

.menu ul,
li {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
}

#header {
    width: 100%;
    height: 95px;
    background-color: #FFF;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#header .logo img {
    height: 32px;
}

#header .container .header-content .menu .title-menu {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    line-height: 95px;
    transition: color 0.5s ease;
    padding: 15px;

}

#header .container .header-content .menu .active {
    font-weight: 800;
    color: #F54543;
}

#header .container .header-content .menu a:hover {
    color: #F76B6A;
}

#header .container .header-content ul li img {
    height: 15px;
}

.header-menu {
    position: relative;
}

.header-menu .menu ul li:hover .header-menu-submenu {
    opacity: 1;
    visibility: visible;
}

.header-menu .menu ul li .header-menu-submenu {
    width: auto;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 105px;
    left: -50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
    z-index: 10;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0;

}

.submenu-container {
    padding: 35px;
    display: flex;
}

.submenu-item {
    width: 200px;
    height: auto;
    padding: 0px;
}

.submenu-item a {
    color: #333;
    font-weight: 700;
    font-size: 16px;
    transition: color 0.5s ease;
}

.submenu-item a:hover {
    color: #F76B6A;
}


.submenu-column {
    padding: 10px 0 0 0;
}

.submenu-column a {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0;
}

.submenu-item ul {
    display: block;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content i {
    padding: 0 8px;
}

.header-button a {
    transition: color 0.5s ease;
    color: #000;
}

.header-button a:hover {
    color: #F76B6A;
}

.banner {
    height: 650px;
    width: 100%;
    background-image: url(/scr/img/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-content {
    margin-top: 50px;
    display: flex;
}

.content-banner-left {
    width: 800px;
    height: 830px;
    background-image: url(/scr/img/banner-left.webp);

}

.content-right {
    padding-left: 35px;
    width: 750px;
    min-width: 700px;
}

.content-right-header {
    padding-top: 10px;
}

.content-right-header p {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 1px solid #eee;
}

.box-items {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    width: 220px;
    height: 370px;
    margin-bottom: 20px;
}

.item-img {
    position: relative;
}

.item-img img {
    width: 100%;
    height: 270px;
    position: relative;
}

.item-tag {
    position: absolute;
    top: 10px;
    left: 10px;
}

.sale-tag {
    width: 50px;
    background-color: #F76B6A;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
}

.sale-off {
    width: 50px;
    background-color: #9cc46a;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
}

.item .item-content {
    padding: 3px;
}

.item-title {
    margin-bottom: 7px;
}

.item-oldprice {
    color: #ccc;
    text-decoration: line-through;
    display: inline-block;
    margin-left: 10px;

}

.item-newprice {
    color: #333;
    display: inline-block;

}

.item-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: red; */
    border: 2px solid #eee;
    margin-top: 5px;
    display: inline-block;

}

.bg-color-olivegreen {
    background-color: #6c7152;
}

.bg-color-blue {
    background-color: #a8bcd4;
}

.item .bg-color-pink {
    background-color: #fcc6de;
}

.item .bg-color-black {
    background-color: #000;
}

.subbanner-area {
    margin-top: 30px;
    height: 180px;
    display: flex;
    justify-content: center;
}

.subbanner-area .subbanner {
    margin: 0 20px;
}

.content-banner-right {
    height: 758px;
    position: relative;
}

.content-left {
    width: 750px;
    min-width: 700px;
}

.content-banner-right .banner-right {
    width: 758px;
    height: 800px;
    background-image: url(/scr/img/banner-right.webp);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 35px;
}

.tip-box {
    width: 100%;
    height: 60px;
    background-color: #F76B6A;
}

.tip-box-content {
    display: flex;
    justify-content: center;
}

.tip-box-content p {
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.tip-box-content .link-more {
    color: #fff;
    text-transform: none;
    text-decoration: underline;
    margin-left: 10px;
}

.box-3column-items {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.column-box {
    width: 250px;
    height: 400px;
    /* background-color: #f0f0f0; */
}

.column-items-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.row-item {
    display: flex;
    margin: 20px 0;
}

.row-item img {
    width: 80px;
    height: 100px;
}

.row-item-content {
    margin-left: 10px;
    margin-top: 10px;
}

.row-item-content .row-price {
    font-size: 14px;
    margin-top: 5px;
}

.row-item-content .old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #ccc;
}

.box-logo {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}

#footer {
    width: 100%;
    height: 450px;
    background-color: #f7f7f7;
    border-top: 1px solid #ececec;
    margin-top: 60px;
}

.footer-top-wrap {
    padding: 70px 20px 30px 20px;
    display: flex;
    justify-content: left;
}

.col-logo {
    width: 300px;
}

.col-logo img {
    width: 130px;
}

.col-logo p {
    font-size: 14px;
    color: #999;
    margin: 25px 0;
}

.col-logo a {
    font-size: 14px;
    color: #000;
}

.col-links {
    width: 200px;
    margin-left: 30px;
}

.useful-links ul {
    display: block;
    padding: 20px 0 0 0;
}

.useful-links li {
    padding: 10px 0;
}

.useful-links li a {
    color: #666;
    font-size: 14px;
}

.col-contact {
    width: 300px;
}

.col-contact ul {
    display: block;
    padding: 20px 0 0 0;

}

.col-contact ul li {
    display: flex;
    justify-content: space-between;
    padding: 9px 0 9px 0;
    /* padding-bottom: 7px; */
    border-bottom: 1px solid #ececec;
    color: #999;
    font-size: 14px;
}

.col-subscribe {
    margin-left: 30px;
    width: 300px;
}

.col-subscribe p {
    margin-top: 25px;
    font-size: 14px;
    color: #999;
}

.form-field {
    width: 300px;
    border: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.form-subscribe .form-subscribe-input {
    width: 200px;
    height: 40px;
    padding: 0 10px;
    color: #999;
    font-size: 13px;
    line-height: 18px;
    border: none;
    background-color: transparent;
    outline: 0;
}

.form-subscribe .form-subscribe-input:focus::placeholder {
    color: transparent;
}

.form-field .button-subscribe button {
    width: 100px;
    height: 40px;
    background-color: #F76B6A;
    appearance: none;
    cursor: pointer;
    color: #fff;
    border: none;
}

.breadcrumb {
    padding: 15px 0px;
    background-color: #f7f7f7;
    font-size: 12px;
}

.breadcrumb-content {
    display: flex;
    align-items: center;
}

.breadcrumb-content a {
    color: #000;
    transition: color 0.5s ease;
}

.breadcrumb-content a:hover {
    color: #F76B6A;
}

.breadcrumb .icon-arrow-right {
    width: 20px;
}

.body-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-img {
    /* width: 50%; */
    /* height: 700px; */
    /* background-color: #eee; */
}

.product-big-img img {
    width: 570px;
    height: 650px;
    background-color: #eee;
}

.product-thumb-img img {
    width: 135px;
    margin-right: 5px;
}

.product-content {
    margin-left: 30px;
}

.product-title p {
    margin-top: 10px;
    color: #000;
    font-size: 28px;
    font-weight: 800;
}

.product-price p {
    margin-top: 10px;
    font-size: 22px;
    color: #333;
}

.product-review-star {
    margin-top: 10px;
    display: flex;
}

.product-review-star img {
    width: 15px;
    margin-right: 3px;
}

.product-review-star p {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.product-content-caption {
    margin-top: 15px;
    color: #333;
}

.product-color {
    margin-top: 25px;
    margin-bottom: 13px;
}

.product-color p {
    color: #666;
    font-weight: 700;
    font-size: 15px;
}

.product-color .item-color {
    margin-top: 10px;
}

.product-size p {
    color: #666;
    font-weight: 700;
    font-size: 14px;
}

.product-size-flex {
    display: flex;
}

.product-size-tag {
    margin-top: 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    line-height: 30px;
}

.product-size-tag-selected {
    margin-top: 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    line-height: 30px;
    background-color: #000;
}

.product-size-tag-selected .selected {
    color: #fff;
}

.variations-button {
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.spinner {
    display: flex;
    align-items: center;
}

.spinner input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;

}

.spinner input[type=number]::-webkit-inner-spin-button,
.spinner input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.spinner button {
    height: 40px;
    width: 35px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.spinner button:active {
    background-color: #bbb;
}

.add-to-cart {
    width: 220px;
    height: 40px;
    background-color: #F76B6A;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-left: 10px;
    transition: all 0.5s ease;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
}

.add-to-cart:hover {
    background-color: #F54543;
}

.buy-it-now {
    border: none;
    background-color: #79b530;
    width: 350px;
    height: 45px;
    margin-top: 10px;
    border-bottom: 2px solid #709047;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.buy-it-now:hover {
    background-color: #79A130;
}

.more-details {
    margin-top: 25px;
    font-size: 15px;
    line-height: 30px;
}

.more-details .p-bold {
    color: #000;
    font-weight: 800;
}

.more-details .p-normal {
    color: #888;
}

.more-details a:hover {
    color: #F76B6A;
    text-decoration: underline;
}

.product-description {
    margin-top: 50px;
    display: flex;
}

.product-description-content {
    width: 50%;
    margin-right: 30px;
}

.product-description-content h2 {
    margin-bottom: 25px;
}

.product-description-content p {
    margin-top: 10px;
    color: #333;
    line-height: 25px;
}

.size-chart {
    border: 1px solid #eee;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

.size-chart th,
.size-chart td {
    border: 1px solid #eee;
    padding: 15px;
}

.size-chart th {
    width: 150px;
    height: 20px;
}

.you-may-like {
    margin-top: 40px;
    margin-bottom: 0px;
}

.you-may-like-tittle {
    display: flex;
    justify-content: center;
}

.you-may-like-tittle h2 {
    font-size: 26px;
    display: inline-block;
    text-align: center;
}


.you-may-like-tittle h2 {
    font-size: 26px;
    display: inline-block;
    text-align: center;
}

.you-may-like-items {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.four-items {
    padding-right: 20px;
    margin-bottom: 30px;
}

.four-items img {
    width: 277px;
    margin-bottom: 15px;
}

.banner-contact {
    width: 100%;
    height: 150px;
    background-image: url(/scr/img/contact/banner-contact.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-contact h2 {
    font-size: 26px;
}

.quote {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}   

.quote-tittle {
    display: flex; /* Đặt thuộc tính flex cho .quote-tittle */
    text-align: center; /* Căn giữa văn bản bên trong thẻ <p> */
    width: 700px;
    justify-content: center;
    flex-wrap: wrap;
}

.quote-tittle p {
    font-size: 24px;
    font-weight: 700;
}

.quote-tittle-name {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.quote-tittle-name h3 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}

.quote-tittle-name h4 {
    color: #888;
    margin-left: 10px;
    font-weight: 500;
}

.contact-content {
    width: 50%;
    margin-top: 60px;
    padding-right: 50px;
    display: flex;
    padding-top: 30px;
}

.contact-content-left-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
}

.contact-content-left-text h3 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 15px;
}

.contact-content-left-text p {
    width: 500px;
    text-align: right;
    color: #666;
    font-size: 16px;
    margin-bottom: 55px;
}


.contact-content-left-text img {
    width: 580px;
}

.contact-content-right img {
    width: 500px;
}

.contact-content-right-text {
    padding-top: 20px;
    padding-left: 40px;
}

.contact-content-right-text p {
    font-size: 14px;
    margin-top: 10px;
}

.contact-content-right-text h4 {
    margin-top: 30px;
}

.banner-love-items {
    width: 100%;
    height: 130px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-menu ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tab-menu li a {
    padding: 0 20px;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.tab-menu li a:hover {
    color: #F76B6A;
    transition: all 0.5s ease;
    ;
}
.tab-menu li  .selected {
    text-decoration: underline;
    font-weight: 800;
    text-underline-offset: 10px;
}

.collection-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;

}

.collection-grid-img{
    position: relative;

}

.collection-grid-img img{
    width: 370px;
    margin: 15px;
}

.collection-grid-img:hover .collection-grid-img-content {
    visibility: visible;
}

.collection-grid-img-content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 370px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.095);
    margin: 15px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    visibility: hidden
    
}

.collection-grid-img-content p {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 15px;
    font-size: 14px;
    width: 370px;
    text-align: center;
    cursor: pointer;
}

.collection-grid-img-content a {
    margin-top: -10px;
    color: #666;
}

.collection-grid-img-content a:hover {
    color: #F76B6A;
}
